.form {
  height: 300px;
  width: 200px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &-input {
    border-radius: 6px;
    padding: 2px;
    margin-bottom: 5px;
    width: 100%;
  }

  &-button {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: grey;
    }
  }

  &-valid-thru {
    &-inputs {
      display: flex;
      gap: 7px;

      > input {
        width: 100%;
      }
    }
  }
}
